{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><title>Stock Visualizer</title>
</head>
<body>
    <div id="header-field">
        <h2>Stock Visualizer</h2>
    </div>
    <div id="search-field" class="container">
        <div class="input-group mb-3">
            <input id="stock-symbol-text" type="text" class="form-control" placeholder="Search Symbol">
            <div class="input-group-append">
                <button id="search-button" class="btn btn-success" type="submit">Go</button>
            </div>
        </div>    
    </div>
    <div id="visual-field" class="container">
        <div id="visualizer-error" class="visual-field-element collapse">
        </div>
        <div id="visualizer" class="visual-field-element">
        </div>
    </div>
    <!-- D3 js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- User scripts -->
    <script src="{% static 'js/functionalities.js' %}"></script>
    <script src="{% static 'js/dataRequest.js' %}"></script>
    <script src="{% static 'js/canvasDrawer.js' %}"></script>
 </body>
</html>